.MainContainer
  %section.MainContainer__header
    = link_to 'root_path', class:"MainContainer__headerLogo" do
      = image_tag 'logo/logo.png', alt: "icon", class:"MainContainer__headerImage"
  .MainContainer__purchases
    %section.MainContainer__purchases__details
      %h2.MainContainer__purchases__details__title
        購入内容の確認
    %section.MainContainer__purchases__items
      .MainContainer__purchases__items__inner
        .MainContainer__purchases__items__inner__products
          %h3.MainContainer__purchases__items__inner__products__image
            = image_tag 'pict/sample1.png', size: "80x80", alt:"オムライス"
          .MainContainer__purchases__items__inner__products__text
            %p.MainContainer__purchases__items__inner__products__text__name
              商品名(男は大抵好きなオムライス)
            %p.MainContainer__purchases__items__inner__products__text__price
              %span.Shipping__style
                送料込み (税込)
              %span.Shipping__price
                ¥2,000
    %section.MainContainer__purchases__checkout
      .MainContainer__purchases__checkout__total
        %span
          支払い金額
        %span.TotalPrice
          ¥2,000
      %label.MainContainer__purchases__checkout__points
        -# %label.MainContainer__purchases__checkout__points_use disabled-class
          -# %span.Check_box
            -# %span.Style__input
              -# =image_tag
              %p.MainContainer__purchases__checkout__points__text
                -# ポイントの使用
        .MainContainer__purchases__checkout__logo
          = image_tag 'icon/logoicon.png', alt:"ロゴアイコン", size: "14x14", class: "Logo"
          %p.MainContainer__purchases__checkout__logo__usePoint
            ポイントの使用
          %p.MainContainer__purchases__checkout__logo__usePoint2
            所持ポイント：P0