.Header {
  padding: 0 60px;
  &__inner {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    &__main {
      margin: 0;
      padding: 0;
      position: relative;
      display: flex;
      align-items: center;
      &__icon {
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
        h1 {
          font-size: 100%;
          font-weight: normal;
        }
        &__link {
          width: 140px;
          display: block;
          cursor: pointer;
          text-decoration: underline;
          &__img {
            width: 100%;
            vertical-align: bottom;
          }
        }
      }
      &__searchbox {
        margin-left: auto;
        width: 100%;
        &__input {
          width: calc(100% - 26px);
          height: 36px;
          padding: 0 0 0 5px;
          display: inline-block;
          &__icon {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
}
.Header {
  padding: 0 60px;
  &__inner {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    &__nav {
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;
      &__listsleft {
        position: relative;
        display: flex;
        list-style: none;
        &__item {
          display: flex;
          line-height: 38px;

          a {
            color: #333;
            text-decoration: none;
            line-height: 32px;
            background-position: center right;
            background-repeat: no-repeat;
            background-size: 18px;
            padding-right: 46px;
          }
        }
        &__item__frist {
          text-decoration: none;
        }
      }
      &__listsright {
        margin-left: auto;
        display: flex;
        color: #333;
        ul {
          list-style: none;
        }
        &__login {
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
          a {
            display: flex;
            align-items: center;
            color: #333;
            text-decoration: none;
            line-height: 32px;
          }
        }
        &__newlogin {
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
          a {
            display: flex;
            align-items: center;
            color: #333;
            text-decoration: none;
            line-height: 32px;
          }
        }
        &__myPage {
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
          a {
            display: flex;
            align-items: center;
            color: #333;
            text-decoration: none;
            line-height: 32px;
          }
        }
      }
    }
  }
}
.Header__inner__main__searchbox form {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
}

.search-box-btn {
  width: 36px;
  border: 0;
  cursor: pointer;
  background-color: #3ccace;
  // background-image: url("http://furima.tokyo/assets/icon-search-60a83ada85216fe00789cd16065281694d9a08948275fef83683fadcf131d84d.svg");
  padding: 8px;
  appearance: button;
  text-rendering: auto;
  color: -internal-light-dark(buttontext, rgb(170, 170, 170));
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
}

.search-btn {
  width: 100%;
  vertical-align: bottom;
  border: 0;
}
