.MainContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: whitesmoke;
  &__header {
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 245, 245);
  }
  &__headerImage {
    height: 49px;
    width: 185px;
  }
  &__text {
    position: relative;
    width: 700px;
    height: calc(60vh - 128px);
    margin: 0 auto;
    background-color: #fff;
    &__message {
      text-align: center;
      padding: 32px, 16px;
      line-height: 2;
    }
    &__item {
      text-align: center;
      padding: 16px;
      line-height: 2;
    }
    &__price {
      text-align: center;
      padding: 16px;
      line-height: 2;
    }
    &__back__toppage {
      text-align: center;
      border-top: 1px solid whitesmoke;
      padding: 32px 16px 56px 16px;
      max-width: 375px;
      margin: 0 auto;
    }
  }
}

h2 {
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  padding: 16px;
  line-height: 2;
}

.btn {
  background-color: #3ccace;
  color: #fff;
  width: 100%;
  border-radius: 4px;
  font-size: 17px;
  min-height: 48px;
  padding: 0 24px;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  border: 1px solid transparent;
  box-sizing: border-box;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  transition-property: background-color, border-color, color;
  vertical-align: middle;
  white-space: nowrap;
  word-break: break-word;
  appearance: button;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  cursor: pointer;
}