.SideBar {
  width: 280px;
  margin-right: 40px;
  .SideBarNav {
    &__listTitle {
      margin: 40px 0 10px 10px;
    }
    &__list {
      &__item {
        background-color: #fff;
        position: relative;
        min-height: 48px;
        padding: 16px;
        display: block;
        font-size: 14px;
        color: #333;
        border-top: 1px solid #f8f8f8;
        .angleRight {
          .icon {
            position: absolute;
            top: 50%;
            right: 16px;
            color: #ccc;
            font-size: 20px;
            // -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            // -webkit-transition: all ease-out .2s;
            // transition: all ease-out .2s;
          }
          
        }
        
      }
      &__item:hover {
        background-color: #fafafa;
        transition: all ease-out .2s;
      }
    }
  }
}
